/.idea
/_ide_helper.php
##############################
/bootstrap
/config
/root
/public/core
/public/uploads
/public/.htaccess
/public/index.php
/public/favicon.ico
/storage
/.env.example
/.gitattributes
/artisan
/composer.json
/gulpfile.js
/package.json
/phpunit.xml
/readme.md
/server.php
/vendor
/composer.lock
/composer.phar
/.env