
@font-face {
  font-family: 'GraphikLCG-Extralight';
  src: url('GraphikLCG-Extralight.eot?#iefix') format('embedded-opentype'),  url('GraphikLCG-Extralight.otf')  format('opentype'),
	     url('GraphikLCG-Extralight.woff') format('woff'), url('GraphikLCG-Extralight.ttf')  format('truetype'), url('GraphikLCG-Extralight.svg#GraphikLCG-Extralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
