doctype html
- var title = 'Acuvue Golden Lens'
- var bodyClass = '';
- var ogtitle = 'Acuvue Golden Lens';
- var ogdescription = 'Самые зрелищные моменты The International — смотри и выбирай лучших! Четкое зрение — чистая победа.'

block vars

html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title Acuvue Golden Lens
    link(rel="stylesheet", href="styles/vendor.css")
    link(rel="stylesheet", href="styles/main.css")
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')
    meta(property="og:title" content="Премия Acuvue Golden Lens")
    meta(property="og:description" content="Самые зрелищные моменты The International — смотри и выбирай лучших! Четкое зрение — чистая победа.")
    meta(property="og:image" content="images/share.jpg")
    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-120512427-1')
    //- script.
    //-   window.dataLayer = window.dataLayer || [];
    //-   function gtag(){dataLayer.push(arguments);}
    //-   gtag('js', new Date());
    //-   gtag('config', 'UA-120512427-1');
    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-120512427-1', 'auto');
      ga('send', 'pageview');
    // End Google Analytics
    // AdRiver code START. Type:counter(zeropixel) Site: https://w SZ: acuvueawards
    script(type='text/javascript').
      var RndNum4NoCash = Math.round(Math.random() * 1000000000);
      var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
      document.write('<img src="' + ('https:' == document.location.protocol ? 'https:' : 'http:') + '//ad.adriver.ru/cgi-bin/rle.cgi?' + 'sid=219728&sz=acuvueawards&bt=21&pz=0&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail + '" border=0 width=1 height=1>')
    noscript
      img(src='//ad.adriver.ru/cgi-bin/rle.cgi?sid=219728&sz=acuvueawards&bt=21&pz=0&rnd=766753598', border='0', width='1', height='1')
    // AdRiver code END
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-120512427-1']);
      _gaq.push(['_trackPageview']);
      setTimeout("_gaq.push(['_trackEvent', ‘5_seconds', 'read'])",5000);
      (function() {     var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);   })();
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter49320118 = new Ya.Metrika2({
      id:49320118,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/tag.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks2");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/49320118', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter

    header.header
      .header__wrapper.main-content
        a(href="/").header__logo
        .header__menu-btn.js-show-menu
          span
          span
          span
        .header__links.js-mobile-menu
          a(href="/history.html").header__link.big-link
            span история
          a(href="/about.html").header__link.big-link
            span о проекте
          a(href="#farm").header__btn.btn.transparent.ga-farm Нафармить первую пару
    block content
    .top-btn.js-go-top
    footer.footer
      .footer__wrapper.main-content
        .footer__logo
        .footer__rules
          .footer-rules
            a(href="/rules.html").footer-rules__link.big-link
              span Правила розыгрыша
            .footer-rules__desc.
              &copy; ООО &laquo;Джонсон & Джонсон&raquo; 2018. Этот сайт принадлежит компании ООО &laquo;Джонсон & Джонсон&raquo;, которая полностью отвечает за&nbsp;его содержимое. Все права защищены. Данный сайт предназначен для жителей Российской Федерации и&nbsp;стран СНГ. Art by&nbsp;Tuna Art.
        .footer__social
          .social
            .social__title Подпишись на новости премии
            .social__list
              a(href="https://vk.com/dota2ruhub" target="_blank").social__link.vk
              a(href="https://www.facebook.com/dota2ruhub/" target="_blank").social__link.fb
              a(href="https://twitter.com/dota2ruhub" target="_blank").social__link.tw
      .footer__warning Имеются противопоказания, необходимо проконсультироваться со специалистом
      
      
      
    .popup.js-overlay
      .popup__bg
        
        
      .popup__body.autorization.js-popup(data-overlay="login")
        script(src='//ulogin.ru/js/ulogin.js')
        .popup__btn.js-close-popup
          span
          span
          span
        .popup__title Авторизация
        .popup__desc.little-margin Чтобы участвовать в голосовании и розыгрыше приза, авторизуйся через одну из указанных социальных сетей. Помни, что у тебя только один голос!
        .popup__login
          #uLogin3668870b(data-ulogin='display=panel;fields=first_name,last_name,email;providers=vkontakte,twitter;redirect_uri=;callback=login')
        
        
      .popup__body.js-popup(data-overlay="subscribe")
        .popup__logo-mobile
        .popup__btn.js-close-popup
          span
          span
          span
        .popup__title Быть в курсе!
        .popup__desc Чтобы не&nbsp;пропустить самые яркие моменты The International 2018 и&nbsp;первым узнавать новости премии.
        .popup__form
          form.popup-form.js-reg-form(action="/submit.php" method="POST")
            .popup-form__row
              .popup-form__input-row
                input(type="text" placeholder="Email" name="email" id="email").popup-form__input
              .popup-form__btn
                button(type="submit").btn.orange.ga-subs подписаться
              .popup-form__success.js-success Подписка оформлена!
        .popup__product
          .popup-product
            .popup-product__col
              .popup-product__pic
            .popup-product__col
              a(href="#farm").popup-product__link.js-close-popup.ga-farm Нафармить первую пару
              .popup-product__desc Контактные линзы для глаз Acuvue&reg; Oasys 1-Day

    script(src="https://apis.google.com/js/client.js")
    script(src="scripts/vendor.js")
    script(src="scripts/main.js")

    block scripts
