
@font-face {
  font-family: 'GraphikLCG';
  src: url('../fonts/GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GraphikLCG-Bold.otf')  format('opentype'),
	     url('../fonts/GraphikLCG-Bold.woff') format('woff'), url('../fonts/GraphikLCG-Bold.ttf')  format('truetype'), url('../fonts/GraphikLCG-Bold.svg#GraphikLCG-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'GraphikLCG';
  src: url('../fonts/GraphikLCG-Extralight.eot?#iefix') format('embedded-opentype'),  url('../fonts/GraphikLCG-Extralight.otf')  format('opentype'),
	     url('../fonts/GraphikLCG-Extralight.woff') format('woff'), url('../fonts/GraphikLCG-Extralight.ttf')  format('truetype'), url('../fonts/GraphikLCG-Extralight.svg#GraphikLCG-Extralight') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'GraphikLCG';
  src: url('../fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/GraphikLCG-Regular.otf')  format('opentype'),
	     url('../fonts/GraphikLCG-Regular.woff') format('woff'), url('../fonts/GraphikLCG-Regular.ttf')  format('truetype'), url('../fonts/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
