extends templates/layout
block vars
  - var ogtitle = '';
  - var ogdescription = ''

block content
  main.main
    section.section.history-section.first-section
      .bubble.big.first(data-size="big")
      .bubble.big.second(data-size="big")
      .main-content
        .history
          h2.history__title исторические моменты
          .history__wrapper
            .history__head
              .history-item.first
                .history-item__year 11
                .history-item__float-year.js-float-year 20
                .history-item__col
                  .history-item__subtitle Победитель
                  .history-item__team.navi Natus Vincere
                .history-item__col
                  .history-item__subtitle Призовые
                  .history-item__prize $ 1 000 000
            .history__video
              iframe(src="https://www.youtube.com/embed/NUMZDJVP7Ro" frameborder="0" allow="encrypted-media" allowfullscreen="")
            .history__info
              .history__views 200
              .history__share
                .social
                  .social__title Поделиться:
                  .social__list
                    .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-1.html").vk.js-share
                    .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-1.html").fb.js-share
                    .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-1.html").tw.js-share
            .history__desc.desc.
              Золотой состав Natus Vincere. Блестящая реакция от&nbsp;Dendi, зацепившего в&nbsp;Dream Coil трёх соперников. Ультра-килл от&nbsp;ХВОСТ, армия прирученных крипов от&nbsp;Puppey. Что ещё нужно для победы на&nbsp;первом в&nbsp;истории The International?
            .history__list
              .history-item
                .history-item__year 12
                .history-item__col
                  .history-item__subtitle Победитель
                  .history-item__team.inv Invictus Gaming
                .history-item__col
                  .history-item__subtitle Призовые
                  .history-item__prize $ 1 000 000
              .history__video
                iframe(src="https://www.youtube.com/embed/0wzVXph0Qgs" frameborder="0" allow="encrypted-media" allowfullscreen="")
              .history__info
                .history__views 200
                .history__share
                  .social
                    .social__title Поделиться:
                    .social__list
                      .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-2.html").vk.js-share
                      .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-2.html").fb.js-share
                      .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-2.html").tw.js-share
              .history__desc.desc.
                Лучшая комбинация в&nbsp;Доте: Black Hole и&nbsp;Ravage. М5 наглядно демонстрируют, как это должно работать!
              .history-item
                .history-item__year 13
                .history-item__col
                  .history-item__subtitle Победитель
                  .history-item__team.alliance The Alliance
                .history-item__col
                  .history-item__subtitle Призовые
                  .history-item__prize $ 1 437 204
              .history__video
                iframe(src="https://www.youtube.com/embed/jv9SyWX6eJA" frameborder="0" allow="encrypted-media" allowfullscreen="")
              .history__info
                .history__views 200
                .history__share
                  .social
                    .social__title Поделиться:
                    .social__list
                      .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-3.html").vk.js-share
                      .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-3.html").fb.js-share
                      .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-3.html").tw.js-share
              .history__desc.desc.
                Самое обидноe в&nbsp;Доте&nbsp;&mdash; забрать Рошана, и&nbsp;не&nbsp;успеть подобрать Аегис и&nbsp;Сыр. Но&nbsp;этот Clockwerk смог перевернуть драку! Да&nbsp;так, что соперники пожалели, что вообще пришли в&nbsp;рошпит!
              .history-item
                .history-item__year 14
                .history-item__col
                  .history-item__subtitle Победитель
                  .history-item__team.new NewBee
                .history-item__col
                  .history-item__subtitle Призовые
                  .history-item__prize $ 5 025 051
              .history__video
                iframe(src="https://www.youtube.com/embed/mCDunahyIak" frameborder="0" allow="encrypted-media" allowfullscreen="")
              .history__info
                .history__views 200
                .history__share
                  .social
                    .social__title Поделиться:
                    .social__list
                      .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-5.html").vk.js-share
                      .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-5.html").fb.js-share
                      .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-5.html").tw.js-share
              .history__desc.desc.
                Ohayo на&nbsp;Batrider смог из&nbsp;центра драки через лассо выцепить главного кора Newbee. Ульт Earthshaker задизейблил половину команды соперника, Viper осталось лишь добить еле живых героев.
              .history__video
                iframe(src="https://www.youtube.com/embed/AO9S7oPVyc4" frameborder="0" allow="encrypted-media" allowfullscreen="")
              .history__info
                .history__views 200
                .history__share
                  .social
                    .social__title Поделиться:
                    .social__list
                      .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-4.html").vk.js-share
                      .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-4.html").fb.js-share
                      .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-4.html").tw.js-share
              .history__desc.desc.
                Затяжная игра. Alchemist с&nbsp;Рапирой идет ва-банк и&nbsp;отправляется ломать tier-4. Но&nbsp;шикарный сон от&nbsp;Naga Siren помогает команде забрать Alchemist, у&nbsp;которого нет выкупа. Pajkatt сразу&nbsp;же телепортируется на&nbsp;базу к&nbsp;Fnatic и&nbsp;сносит трон!
              .history-item
                .history-item__year 15
                .history-item__col
                  .history-item__subtitle Победитель
                  .history-item__team.evil Evil Geniuses
                .history-item__col
                  .history-item__subtitle Призовые
                  .history-item__prize $ 5 025 051
              .history__video
                iframe(src="https://www.youtube.com/embed/gDuHg_IBLHA" frameborder="0" allow="encrypted-media" allowfullscreen="")
              .history__info
                .history__views 200
                .history__share
                  .social
                    .social__title Поделиться:
                    .social__list
                      .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-5.html").vk.js-share
                      .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-5.html").fb.js-share
                      .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-5.html").tw.js-share
              .history__desc.desc.
                Ohayo на&nbsp;Batrider смог из&nbsp;центра драки через лассо выцепить главного кора Newbee. Ульт Earthshaker задизейблил половину команды соперника, Viper осталось лишь добить еле живых героев.
            .history__video
              iframe(src="https://www.youtube.com/embed/a45JOQ9wKoM" frameborder="0" allow="encrypted-media" allowfullscreen="")
            .history__info
              .history__views 200
              .history__share
                .social
                  .social__title Поделиться:
                  .social__list
                    .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-6.html").vk.js-share
                    .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-6.html").fb.js-share
                    .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-6.html").tw.js-share
            .history__desc.desc.
              Viсi Gaming зхаодят на&nbsp;Рошана, но&nbsp;MVP.HOT6 в&nbsp;последние секунды окружают соперников, и&nbsp;MP&nbsp;успевает своровать Аегис на&nbsp;Storm spirit.
            .history-item
              .history-item__year 16
              .history-item__col
                .history-item__subtitle Победитель
                .history-item__team.wings Wings Gaming
              .history-item__col
                .history-item__subtitle Призовые
                .history-item__prize $ 9 139 002
            .history__video
              iframe(src="https://www.youtube.com/embed/jBsiWzDwLNA" frameborder="0" allow="encrypted-media" allowfullscreen="")
            .history__info
              .history__views 200
              .history__share
                .social
                  .social__title Поделиться:
                  .social__list
                    .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-7.html").vk.js-share
                    .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-7.html").fb.js-share
                    .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-7.html").tw.js-share
            .history__desc.desc.
              Решающая карта для обеих команд. На&nbsp;кону&nbsp;&mdash; вылет с&nbsp;турнира. Несмотря на&nbsp;грамотную инициацию от&nbsp;Team Liquid, Dendi успевает выдать прокаст на&nbsp;Queen Of&nbsp;Pain, забирая двух героев соперника. Это помогает Na`Vi&nbsp;завершить драку с&nbsp;ровным счетом.
            .history-item.js-last-year
              .history-item__year 17
              .history-item__col
                .history-item__subtitle Победитель
                .history-item__team.liquid Team Liquid
              .history-item__col
                .history-item__subtitle Призовые
                .history-item__prize $ 10 862 683
            .history__video
              iframe(src="https://www.youtube.com/embed/02sHRnnVlHA" frameborder="0" allow="encrypted-media" allowfullscreen="")
            .history__info
              .history__views 200
              .history__share
                .social
                  .social__title Поделиться:
                  .social__list
                    .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-8.html").vk.js-share
                    .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-8.html").fb.js-share
                    .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-8.html").tw.js-share
            .history__desc.desc.
              Последняя решающая игра Грандфинала. Miracle, благодаря молниеносной реакции, чудом переживает 4 дизейбла+сайленс, прожимает бкб, ульт и&nbsp;вместе с&nbsp;командой выигрывает драку, а&nbsp;в&nbsp;последствии&nbsp;&mdash; игру и&nbsp;турнир.
            .history__video
              iframe(src="https://www.youtube.com/embed/zEIesBktFik" frameborder="0" allow="encrypted-media" allowfullscreen="")
            .history__info
              .history__views 200
              .history__share
                .social
                  .social__title Поделиться:
                  .social__list
                    .social__link(data-name="vk" data-link="https://vk.com/share.php?url=" data-url="share-video-9.html").vk.js-share
                    .social__link(data-name="fb" data-link="https://www.facebook.com/sharer.php?u=" data-url="share-video-9.html").fb.js-share
                    .social__link(data-name="tw" data-link="https://twitter.com/intent/tweet?text=" data-url="share-video-9.html").tw.js-share
            .history__desc.desc.
              LFY заходят на&nbsp;хай-граунд к&nbsp;VP. Monet на&nbsp;Faceless Void ставит шикарную хроносферу по&nbsp;корам VP. Ice Blast от&nbsp;ddc ставит крест на&nbsp;Virtus.pro.
    section.section.timer-section
      .bubble.mid.five(data-size="mid")
      .main-content
        .timer
          .timer__wrapper
            h2.timer__title The International 2018
            .timer__desc 18 июня - 26 июня
            .timer__counter
              .counter
                .counter__title До старта голосования
                .counter__wrapper
                  .counter__col
                    .counter__num.js-countdownDays 23
                    .counter__desc дней
                  .counter__col
                    .counter__num.js-countdownHours 22
                    .counter__desc часов 
                  .counter__col
                    .counter__num.js-countdownMinutes 55
                    .counter__desc минут
            .timer__btn.js-show-popup(data-show-overlay="subscribe")
              .btn.orange Не пропусти!
    section.section.inventory-section#farm
      .bubble.mid.five(data-size="mid")
      .bubble.little.six(data-size="little")
      .main-content
        .inventory
          .inventory__wrapper
            h2.inventory__title Инвентарь
            .inventory__info
              .inventory__col.first
              .inventory__col.last
                .inventory__subtitle Сертификат на первую бесплатную пару линз Acuvue&reg; Oasys 1-Day
                .inventory__desc Планируя катку, просмотр стрима или турнира, не&nbsp;забудь добавить в&nbsp;свой инвентарь линзы Acuvue&reg; Oasys 1-Day. Использование предмета даёт максимальное улучшение качества процесса. Пассивная способность &laquo;удобство и&nbsp;комфорт для глаз&raquo;: 100%
                .inventory__btn
                  a(href="https://www.acuvue.ru/freetrial?utm_source=promo&utm_medium=promo&utm_campaign=GoldenLens_Cybersport" target="_blank").btn.orange.ga-free получить бесплатно
            .inventory__list
              .inventory-list
                .inventory-list__wrapper
                  .inventory-list__item
                    .inventory-list__icon.icon-1
                    .inventory-list__desc Удобно  при использовании наушников
                  .inventory-list__item
                    .inventory-list__icon.icon-2
                    .inventory-list__desc Технология Hydraluxe придает свойства слезы
                  .inventory-list__item
                    .inventory-list__icon.icon-3
                    .inventory-list__desc Предотвращают ощущения сухости  и усталости глаз
