extends templates/layout
block vars
  - var ogtitle = '';
  - var ogdescription = ''

block content
  main.main
    section.section.rules-section
      .main-content
        .rules
          h2.rules__title Правила розыгрыша
          .rules__wrapper.mobile
            .rules-switcher
              ol.rules-switcher__list
                li.rules-switcher__item.active.js-show-tab(data-show-tab="1") 1. Общие положения
                  .rules__tab(data-tab="1").active.animated
                    .rules__desc.desc.
                       1.1. Настоящие Правила определяют порядок, условия, сроки проведения Розыгрыша «Golden Lens» (далее — Розыгрыш); сроки и порядок получения призов. Настоящий Розыгрыш не является лотереей или иной, основанной на риске, игрой.
                li.rules-switcher__item.js-show-tab(data-show-tab="2") 2. Информация об Организаторе Розыгрыша
                  .rules__tab(data-tab="2")
                    .rules__desc.desc.
                      <b>ООО «Киберспорт-маркетинг»</b><br>Адрес местонахождения: РФ, 121609, г. Москва, Рублевское шоссе, д. 28, этаж 16, пом. I, комната 29<br>ОГРН 1177746245324<br>ИНН 7713440286, КПП 773101001
                li.rules-switcher__item.js-show-tab(data-show-tab="3") 3. Информация о Партнере Розыгрыша
                  .rules__tab(data-tab="3")
                    .rules__desc.desc 3.1. Партнером Розыгрыша является юридическое лицо, которое предоставляет Призы в соответствии с настоящими Правилами. Информация о Партнере Розыгрыша предоставляется Победителям по их требованию.
                li.rules-switcher__item.js-show-tab(data-show-tab="4") 4. Место проведения Розыгрыша является
                  .rules__tab(data-tab="4")
                    .rules__desc.desc.
                      Место проведения Розыгрыша является:<br><br>4.1. Интернет-ресурс: https://acuvueawards.cybersport.ru/ далее — Сайт);
                    .rules__desc.desc.
                      4.2. Сайт включает:
                    .rules__desc.desc
                      ul(style="list-style-type: disc")
                        li.
                          Блок заявки на участие в Розыгрыше (страницу заявки или заявка);
                        li.
                          Страницу размещения Правил настоящего Розыгрыша;
                        li.
                          Иные веб-страницы, которые могут быть добавлены Организатором Розыгрыша в процессе его проведения.
                li.rules-switcher__item.js-show-tab(data-show-tab="5") 5. Период проведения Розыгрыша
                  .rules__tab(data-tab="5")
                    .rules__desc.desc.
                      5.1. Общий срок проведения Розыгрыша: с 26 июня 2018 г. по 31 июля 2018 г.
                    .rules__desc.desc.
                      5.2. Период участия в Розыгрыше: с 26 июня 2018 г. по 02 июля 2018 г.;
                    .rules__desc.desc.
                      5.3. Период определения Победителей Розыгрыша (далее по тексту — Победители): с 3 июля 2018 г. по 10 июля 2018;
                    .rules__desc.desc.
                      5.4. Период извещения Победителей о выигрыше: с 11 июля 2018 г. по 13 июля 2018 г.;
                    .rules__desc.desc.
                      5.5. Период отправки призов Победителям Розыгрыша: с 16 июля 2018 г. по 31 июля 2018 г.
                li.rules-switcher__item.js-show-tab(data-show-tab="6") 6. Призовой фонд Розыгрыша
                  .rules__tab(data-tab="6")
                    .rules__desc.desc.
                      6.1. Призы:
                    .rules__desc.desc.
                      <b>1 место:</b> ноутбук HP OMEN 17-an040ur (69 990 рублей) + 35 533 (тридцать пять тысяч пятьсот тридцать три рубля);
                    .rules__desc.desc.
                      6.2. Призы предоставляются Победителям Партнером Розыгрыша.
                    .rules__desc.desc.
                      6.3. Призы направляются Победителям Организатором Розыгрыша.
                    .rules__desc.desc.
                      6.4. Призы не подлежат обмену и в денежном эквиваленте не выдаются.
                    .rules__desc.desc.
                      6.5. В связи с тем, что Организатор выполняет функцию налогового агента, Организатор удерживает сумму денежного приза в качестве НДФЛ согласно налоговому законодательству Российской Федерации.
                li.rules-switcher__item.js-show-tab(data-show-tab="7") 7. Требования к участникам Розыгрыша
                  .rules__tab(data-tab="7")
                    .rules__desc.desc.
                      7.1. Участниками Розыгрыша (далее — Участники) могут быть совершеннолетние лица, достигшие возраста 18 лет, независимо от места их проживания.
                    .rules__desc.desc.
                      7.2. К участию в Розыгрыше не допускаются сотрудники и представители Организатора, Партнера Розыгрыша, лица, аффилированные с Организатором и/или Партнером Розыгрыша, члены их семей.
                li.rules-switcher__item.js-show-tab(data-show-tab="8") 8. Порядок участия в Розыгрыше
                  .rules__tab(data-tab="8")
                    .rules__desc.desc.
                      8.1. Для участия в Розыгрыше необходимо:
                    .rules__desc.desc.
                      8.1.1. Зарегистрироваться на сайте https://acuvueawards.cybersport.ru/ использовав одну из своих социальных сетей.
                    .rules__desc.desc.
                      8.1.2. Проголосовать за одно лучшее видео в сроки, указанные в п. 5.2. настоящих Правил, поставив лайк, и не удалять его до подведения итогов Розыгрыша
                    .rules__desc.desc.
                      8.2. При составлении списка Участников учитывается только один лайк Участника.
                    .rules__desc.desc.
                      8.3. Профиль участника Розыгрыша в социальной сети должен быть открыт для получения личных сообщений от любых пользователей.
                li.rules-switcher__item.js-show-tab(data-show-tab="9") 9. Порядок определения Победителей Розыгрыша
                  .rules__tab(data-tab="9")
                    .rules__desc.desc.
                      9.1. Определение Победителей производится в сроки, указанные в п. 5.3. настоящих Правил.
                    .rules__desc.desc.
                      9.2. Приз получает один Участник, выполнивший все условия п. 8 настоящих Правил и удовлетворяющий требованиям к участникам Розыгрыша, указанным в п. 7 настоящих Правил и выбранный случайным образом с помощью приложения «Random.app».
                    .rules__desc.desc.
                      9.3. Приз в Розыгрыше присуждаются в зависимости от порядка выбора Победителя с помощью приложения «Random.app».
                    .rules__desc.desc.
                      9.4. Количество лайков не влияет на вероятность получения Приза.
                li.rules-switcher__item.js-show-tab(data-show-tab="10") 10. Порядок и сроки получения призов
                  .rules__tab(data-tab="10")
                    .rules__desc.desc.
                      10.1. В сроки, указанные в п. 5.4. настоящих Правил, Организатор Розыгрыша уведомляет Победителя о выигрыше путем направления личного сообщения на оставленный e-mail на промо-странице — https://acuvueawards.cybersport.ru/ или любым доступным образом на усмотрение Организатора.
                    .rules__desc.desc.
                      10.2. Победитель направляет на адрес электронной почты, указанный Организатором Розыгрыша в личном сообщении в той социальной сети, через которую прошел регистрацию в Розыгрыше Участник, Ф.И.О. и адрес для отправки приза, а также копию паспорта или иного документа, удостоверяющего личность, прочую информацию и копии иных документов по запросу Организатора, необходимые для выполнения Организатором функций налогового агента.
                    .rules__desc.desc.
                      10.3. При ненаправлении указанных сведений в срок до 15 июля 2018 г. Победитель считается отказавшимся от приза.
                    .rules__desc.desc.
                      10.4. Призы предоставляются Партнером и направляются Победителям Организатором в срок, указанный в п. 5.5 настоящих Правил. Время доставки не включается в указанный срок.
                    .rules__desc.desc.
                      10.5. Организатор/Партнер Розыгрыша не несет ответственность за:
                    .rules__desc.desc.
                      10.5.1. сообщение Победителем неверных данных;
                    .rules__desc.desc.
                      10.5.2. несоблюдение Участником/Победителем условий проведения Розыгрыша и получения приза.
                li.rules-switcher__item.js-show-tab(data-show-tab="11") 11. Персональные данные
                  .rules__tab(data-tab="11")
                    .rules__desc.desc.
                      11.1. Предоставление Победителем своих персональных данных Организатору/Партнеру Розыгрыша подтверждает согласие Участника с Правилами, а также является конкретным, свободным, информированным и сознательным согласием Победителя на обработку Организатором/Партнером Розыгрыша его персональных данных.
                    .rules__desc.desc.
                      11.2. В рамках Розыгрыша Организатор/Партнер Розыгрыша производит обработку персональных данных Победителей, включая сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, передачу, обезличивание, блокирование, удаление, уничтожение персональных данных исключительно в целях, связанных с проведением Розыгрыша.
                    .rules__desc.desc.
                      11.3. К персональным данным Победителя относятся: фамилия, имя, отчество, адрес электронной почты, а также иные сведения, предоставляемые Победителем в соответствии с п. 9.2 настоящих Правил.
                    .rules__desc.desc.
                      11.4. Согласие Победителя на обработку его персональных данных действует с момента сообщения персональных данных Организатору/Партнеру Розыгрыша до истечения месяца с момента отправки приза.
                    .rules__desc.desc.
                      11.5. Согласие Победителя на обработку Организатором/Партнером Розыгрыша его персональных данных может быть отозвано путем направления Организатору письменного уведомления об этом не менее чем за 1 (один) месяц до даты фактического прекращения обработки Организатором/Партнером Розыгрыша персональных данных Победителя.
                li.rules-switcher__item.js-show-tab(data-show-tab="12") 12. Прочие условия
                  .rules__tab(data-tab="12")
                    .rules__desc.desc.
                      12.1. Факт участия в Розыгрыше подтверждает ознакомление и согласие Участника с настоящими Правилами.
                    .rules__desc.desc.
                      12.2. Информирование Участников о сроках проведения Розыгрыша и его условиях (в том числе, размещение настоящих Правил) будет осуществляться путем размещения соответствующей информации на сайте https://acuvueawards.cybersport.ru/.
                    .rules__desc.desc.
                      12.3. Организатор/Партнер Розыгрыша вправе использовать невостребованные Победителями Призы по своему усмотрению.
                    .rules__desc.desc.
                      12.4. Организатор/Партнер Розыгрыша оставляет за собой право не вступать в письменные переговоры либо иные контакты с Участниками, кроме как в случаях, указанных в настоящих Правилах.
                    .rules__desc.desc.
                      12.5. В случае, если Победитель сообщил неверные данные Организатору/Партнеру Розыгрыша, вследствие чего Победитель не имел право быть участником Розыгрыша, Организатор/Партнер Розыгрыша вправе использовать приз по своему усмотрению.
                    .rules__desc.desc.
                      12.6. Настоящие Правила не являются офертой Организатора/Партнера Розыгрыша.
          .rules__wrapper.desctop
            .rules__col.switcher-col
              .rules-switcher
                ol.rules-switcher__list
                  li.rules-switcher__item.active.js-show-tab(data-show-tab="1") Общие положения
                  li.rules-switcher__item.js-show-tab(data-show-tab="2") Информация об Организаторе Розыгрыша
                  li.rules-switcher__item.js-show-tab(data-show-tab="3") Информация о Партнере Розыгрыша
                  li.rules-switcher__item.js-show-tab(data-show-tab="4") Место проведения Розыгрыша является
                  li.rules-switcher__item.js-show-tab(data-show-tab="5") Период проведения Розыгрыша
                  li.rules-switcher__item.js-show-tab(data-show-tab="6") Призовой фонд Розыгрыша
                  li.rules-switcher__item.js-show-tab(data-show-tab="7") Требования к участникам Розыгрыша
                  li.rules-switcher__item.js-show-tab(data-show-tab="8") Порядок участия в Розыгрыше
                  li.rules-switcher__item.js-show-tab(data-show-tab="9") Порядок определения Победителей Розыгрыша
                  li.rules-switcher__item.js-show-tab(data-show-tab="10") Порядок и сроки получения призов
                  li.rules-switcher__item.js-show-tab(data-show-tab="11") Персональные данные
                  li.rules-switcher__item.js-show-tab(data-show-tab="12") Прочие условия
            .rules__col.desc-col
              .rules__tab(data-tab="1").active.animated
                .rules__desc.desc.
                   1.1. Настоящие Правила определяют порядок, условия, сроки проведения Розыгрыша «Golden Lens» (далее — Розыгрыш); сроки и порядок получения призов. Настоящий Розыгрыш не является лотереей или иной, основанной на риске, игрой.
              .rules__tab(data-tab="2")
                .rules__desc.desc.
                  <b>ООО «Киберспорт-маркетинг»</b><br>Адрес местонахождения: РФ, 121609, г. Москва, Рублевское шоссе, д. 28, этаж 16, пом. I, комната 29<br>ОГРН 1177746245324<br>ИНН 7713440286, КПП 773101001
              .rules__tab(data-tab="3")
                .rules__desc.desc 3.1. Партнером Розыгрыша является юридическое лицо, которое предоставляет Призы в соответствии с настоящими Правилами. Информация о Партнере Розыгрыша предоставляется Победителям по их требованию.
              .rules__tab(data-tab="4")
                .rules__desc.desc.
                  Место проведения Розыгрыша является:<br><br>4.1. Интернет-ресурс: https://acuvueawards.cybersport.ru/ далее — Сайт);
                .rules__desc.desc.
                  4.2. Сайт включает:
                .rules__desc.desc
                  ul(style="list-style-type: disc")
                    li.
                      Блок заявки на участие в Розыгрыше (страницу заявки или заявка);
                    li.
                      Страницу размещения Правил настоящего Розыгрыша;
                    li.
                      Иные веб-страницы, которые могут быть добавлены Организатором Розыгрыша в процессе его проведения.
              .rules__tab(data-tab="5")
                .rules__desc.desc.
                  5.1. Общий срок проведения Розыгрыша: с 26 июня 2018 г. по 31 июля 2018 г.
                .rules__desc.desc.
                  5.2. Период участия в Розыгрыше: с 26 июня 2018 г. по 02 июля 2018 г.;
                .rules__desc.desc.
                  5.3. Период определения Победителей Розыгрыша (далее по тексту — Победители): с 3 июля 2018 г. по 10 июля 2018;
                .rules__desc.desc.
                  5.4. Период извещения Победителей о выигрыше: с 11 июля 2018 г. по 13 июля 2018 г.;
                .rules__desc.desc.
                  5.5. Период отправки призов Победителям Розыгрыша: с 16 июля 2018 г. по 31 июля 2018 г.
              .rules__tab(data-tab="6")
                .rules__desc.desc.
                  6.1. Призы:
                .rules__desc.desc.
                  <b>1 место:</b> ноутбук HP OMEN 17-an040ur (69 990 рублей) + 35 533 (тридцать пять тысяч пятьсот тридцать три рубля);
                .rules__desc.desc.
                  6.2. Призы предоставляются Победителям Партнером Розыгрыша.
                .rules__desc.desc.
                  6.3. Призы направляются Победителям Организатором Розыгрыша.
                .rules__desc.desc.
                  6.4. Призы не подлежат обмену и в денежном эквиваленте не выдаются.
                .rules__desc.desc.
                  6.5. В связи с тем, что Организатор выполняет функцию налогового агента, Организатор удерживает сумму денежного приза в качестве НДФЛ согласно налоговому законодательству Российской Федерации.
              .rules__tab(data-tab="7").active
                .rules__desc.desc.
                  7.1. Участниками Розыгрыша (далее — Участники) могут быть совершеннолетние лица, достигшие возраста 18 лет, независимо от места их проживания.
                .rules__desc.desc.
                  7.2. К участию в Розыгрыше не допускаются сотрудники и представители Организатора, Партнера Розыгрыша, лица, аффилированные с Организатором и/или Партнером Розыгрыша, члены их семей.
              .rules__tab(data-tab="8")
                .rules__desc.desc.
                  8.1. Для участия в Розыгрыше необходимо:
                .rules__desc.desc.
                  8.1.1. Зарегистрироваться на сайте https://acuvueawards.cybersport.ru/ использовав одну из своих социальных сетей.
                .rules__desc.desc.
                  8.1.2. Проголосовать за одно лучшее видео в сроки, указанные в п. 5.2. настоящих Правил, поставив лайк, и не удалять его до подведения итогов Розыгрыша
                .rules__desc.desc.
                  8.2. При составлении списка Участников учитывается только один лайк Участника.
                .rules__desc.desc.
                  8.3. Профиль участника Розыгрыша в социальной сети должен быть открыт для получения личных сообщений от любых пользователей.
              .rules__tab(data-tab="9")
                .rules__desc.desc.
                  9.1. Определение Победителей производится в сроки, указанные в п. 5.3. настоящих Правил.
                .rules__desc.desc.
                  9.2. Приз получает один Участник, выполнивший все условия п. 8 настоящих Правил и удовлетворяющий требованиям к участникам Розыгрыша, указанным в п. 7 настоящих Правил и выбранный случайным образом с помощью приложения «Random.app».
                .rules__desc.desc.
                  9.3. Приз в Розыгрыше присуждаются в зависимости от порядка выбора Победителя с помощью приложения «Random.app».
                .rules__desc.desc.
                  9.4. Количество лайков не влияет на вероятность получения Приза.
              .rules__tab(data-tab="10")
                .rules__desc.desc.
                  10.1. В сроки, указанные в п. 5.4. настоящих Правил, Организатор Розыгрыша уведомляет Победителя о выигрыше путем направления личного сообщения на оставленный e-mail на промо-странице — https://acuvueawards.cybersport.ru/ или любым доступным образом на усмотрение Организатора.
                .rules__desc.desc.
                  10.2. Победитель направляет на адрес электронной почты, указанный Организатором Розыгрыша в личном сообщении в той социальной сети, через которую прошел регистрацию в Розыгрыше Участник, Ф.И.О. и адрес для отправки приза, а также копию паспорта или иного документа, удостоверяющего личность, прочую информацию и копии иных документов по запросу Организатора, необходимые для выполнения Организатором функций налогового агента.
                .rules__desc.desc.
                  10.3. При ненаправлении указанных сведений в срок до 15 июля 2018 г. Победитель считается отказавшимся от приза.
                .rules__desc.desc.
                  10.4. Призы предоставляются Партнером и направляются Победителям Организатором в срок, указанный в п. 5.5 настоящих Правил. Время доставки не включается в указанный срок.
                .rules__desc.desc.
                  10.5. Организатор/Партнер Розыгрыша не несет ответственность за:
                .rules__desc.desc.
                  10.5.1. сообщение Победителем неверных данных;
                .rules__desc.desc.
                  10.5.2. несоблюдение Участником/Победителем условий проведения Розыгрыша и получения приза.
              .rules__tab(data-tab="11")
                .rules__desc.desc.
                  11.1. Предоставление Победителем своих персональных данных Организатору/Партнеру Розыгрыша подтверждает согласие Участника с Правилами, а также является конкретным, свободным, информированным и сознательным согласием Победителя на обработку Организатором/Партнером Розыгрыша его персональных данных.
                .rules__desc.desc.
                  11.2. В рамках Розыгрыша Организатор/Партнер Розыгрыша производит обработку персональных данных Победителей, включая сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, передачу, обезличивание, блокирование, удаление, уничтожение персональных данных исключительно в целях, связанных с проведением Розыгрыша.
                .rules__desc.desc.
                  11.3. К персональным данным Победителя относятся: фамилия, имя, отчество, адрес электронной почты, а также иные сведения, предоставляемые Победителем в соответствии с п. 9.2 настоящих Правил.
                .rules__desc.desc.
                  11.4. Согласие Победителя на обработку его персональных данных действует с момента сообщения персональных данных Организатору/Партнеру Розыгрыша до истечения месяца с момента отправки приза.
                .rules__desc.desc.
                  11.5. Согласие Победителя на обработку Организатором/Партнером Розыгрыша его персональных данных может быть отозвано путем направления Организатору письменного уведомления об этом не менее чем за 1 (один) месяц до даты фактического прекращения обработки Организатором/Партнером Розыгрыша персональных данных Победителя.
              .rules__tab(data-tab="12")
                .rules__desc.desc.
                  12.1. Факт участия в Розыгрыше подтверждает ознакомление и согласие Участника с настоящими Правилами.
                .rules__desc.desc.
                  12.2. Информирование Участников о сроках проведения Розыгрыша и его условиях (в том числе, размещение настоящих Правил) будет осуществляться путем размещения соответствующей информации на сайте https://acuvueawards.cybersport.ru/.
                .rules__desc.desc.
                  12.3. Организатор/Партнер Розыгрыша вправе использовать невостребованные Победителями Призы по своему усмотрению.
                .rules__desc.desc.
                  12.4. Организатор/Партнер Розыгрыша оставляет за собой право не вступать в письменные переговоры либо иные контакты с Участниками, кроме как в случаях, указанных в настоящих Правилах.
                .rules__desc.desc.
                  12.5. В случае, если Победитель сообщил неверные данные Организатору/Партнеру Розыгрыша, вследствие чего Победитель не имел право быть участником Розыгрыша, Организатор/Партнер Розыгрыша вправе использовать приз по своему усмотрению.
                .rules__desc.desc.
                  12.6. Настоящие Правила не являются офертой Организатора/Партнера Розыгрыша.
