extends templates/share
block vars
  - var title = 'Премия Acuvue Golden Lens'
  - var description = 'Самые зрелищные моменты The International — смотри и выбирай лучших! Четкое зрение — чистая победа.'
  - var image = page_url + 'images/share/FLYTOMOON_DD_FLY.png'
  - var popupNum = 0
block script
