
@font-face {
  font-family: 'GraphikLCG-Bold';
  src: url('GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),  url('GraphikLCG-Bold.otf')  format('opentype'),
	     url('GraphikLCG-Bold.woff') format('woff'), url('GraphikLCG-Bold.ttf')  format('truetype'), url('GraphikLCG-Bold.svg#GraphikLCG-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
